
.notification{
  position: relative;
  padding: 20px;
  gap: 14px; 
  display: flex;
  border-radius: 8px;
  /* border: 1px solid #eaeaea;*/
  background-color: #d3d3d3;
  box-shadow: 0 0.5rem 1.2rem rgb(0 0 0 / 20%);
}
.notification__icon{
    margin: auto;
    display: flex;
    align-items:center;
    justify-content:center;
    width: 50px;
    height: 50px;
    min-width: 50px;
    min-height: 50px;
    border-radius:50%;
    background: #EEF7FE;
}
.notification__message{
    margin: auto;
}
.notification__message h2{
    font-size:1rem;
    color: #3a3636;
}
.notification__close-btn {
    position: absolute;
    top: 0;
    right: 8px;
    border: none;
    background: none;
    font-size: 1rem;
    cursor: pointer;
    color: #000;
    padding: 0;
  }