
.notification{
  padding: 20px;
  gap: 14px; 
  display: flex;
  border-radius: 8px;
  border: 1px solid #eaeaea;
  box-shadow: 0 0.5rem 1.2rem rgb(0 0 0 / 20%);
}
.notification__icon{
    display: flex;
    align-items:center;
    justify-content:center;
    width: 50px;
    height: 50px;
    min-width: 50px;
    min-height: 50px;
    border-radius:50%;
    background: #EEF7FE;
}
.notification__message{
    margin: auto;
}
.notification__message h2{
    font-size:1rem;
    color:#000000;
}